
  

<div class="modal-body" align="center">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">Current</div>
      </div>
      <div class="row">
          <div class="col-md-12"> {{ current }}</div>
      </div>
      <div class="row">
          <div class="col-md-12">Best</div>
      </div>
      <div class="row">
          <div class="col-md-12"> {{ best }}</div>
      </div>

      <a class="btn btn-primary" (click)="reset()" >Restart</a>

  </div>
  <div class="modal-footer">
      
  </div>
</div>
